.mypage {
    padding: 20px;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
        /* フレックスボックスを使用 */
    justify-content: center;
        /* 水平方向に中央揃え */
}

.profile__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 50px;
        /* 画像と名前の間隔 */
}

.profile__name {
    margin: 0 10px;
    /* 名前とボタンの間隔 */
    display: flex;
        /* フレックスを使用して名前を中央揃え */
        align-items: center;
        /* 垂直方向に中央揃え */
    font-size: 30px;
}

.nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    border-bottom: 1px solid #ccc;
}

.nav-item {
    margin-right: 30px;
}

.nav-item2 {
    margin-left: 50px;
}

.nav-link {
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: bold;
    color: #5f5f5f;
    font-size: 20px;
}

.nav-link.active {
    color: #ff5555;
}

.tab-content {
    display: flex;
        flex-wrap: wrap;
        /* 複数行に折り返す */
        gap: 15px;
        /* カード間の隙間を設定 */
}

.tab-pane {
    display: none;
}

.tab-pane.show {
    display: block;
}

.edit-profile-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #ff5555;
    text-decoration: none;
    border-radius: 5px;
    align-self: center;
        /* ボタンを中央に配置 */
        margin-left: 400px;
            /* ボタンを名前から少し離す */
    border: 2px solid #ff5555;
    font-weight: bold;
}

.edit-profile-button:hover {
    background-color:#ff5555;
    color: white;
}

.card-container {
    display: flex;
    /* フレックスボックスを使用 */
    flex-wrap: wrap;
    /* 複数行に折り返す */
    gap: 10px;
    /* カード間の隙間を設定 */
}

.card {
    flex: 1 1 calc(20% - 15px);
    /* 4枚を一行に配置、サイズを小さくする */
    border-radius: 5px;
    /* カードの角を丸める */
    margin: 20px;
    /* カードの下に余白を追加 */
}

.card img {
    max-width: 100%;
    /* 画像のサイズを調整 */
    height: auto;
    /* アスペクト比を保持 */
}

.card-container a {
    text-decoration: none;
    /* リンクの下線を消す */
    color: inherit;
    /* 親要素の色を継承 */
}

.card-title{
    font-size: 20px;
    margin-top: 3px;
        /* 上のマージンをさらに小さくする */
        margin-bottom: 0;
        /* 下のマージンを消す */
}